.form-container {
  display: flex;
  justify-content: center;
}

.form-container > input {
  width: 100%;
  max-width: 300px;
  border-radius: 20px 0 0 20px;
  padding: var(--padding-primary);
}

.form-container > input::placeholder {
  font-family: var(--primary-font);
}

.form-container > button {
  width: 100%;
  max-width: 100px;
  padding: var(--padding-primary);
  border-radius: 0 20px 20px 0;
  background-color: var(--secondary-color);
  color: var(--text-primary);
}
