@switch (matchState().state) {
  @case (0) {
    <app-welcome (onStartGameEvent)="start()"></app-welcome>
  }
  @case (1) {
    <app-word [word]="matchState().selected"></app-word>
    <app-answer-form (onAnswerEvent)="validate($event)"></app-answer-form>
    <div class="used-letters-container">
      Used Letters:

      @for (letter of matchState().selected.usedLetters; track $index) {
        <span class="used-letter">{{ letter }}</span>
      }

    </div>
    <div>❤️ {{ matchState().attempts }}</div>
  }
  @case (2) {
    <app-end [hasRemainingAttempts]="matchState().attempts > 0" (onRestartEvent)="start()"></app-end>
  }
}
